<div class="doctors-page">

  <h2>
    All Doctors
  </h2>

 <app-filters
   [specialities]="specialities"
   [locations]="locations" 
   (filtersChanged)="onFiltersChanged($event)">
  

</app-filters>

<div class="doctors-grid">

  <app-doctor-card
    *ngFor="let doctor of filteredDoctors"
    [doctor]="doctor">
  </app-doctor-card>
  <div
  *ngIf="filteredDoctors.length === 0"
  class="empty-state"
>

  <h3>
    No doctors found
  </h3>

  <p>
    Try adjusting the filters
  </p>

</div>

</div>

</div>
