<div class="slot-container">
 
  <h2>Availability (Next 2 Days)</h2>
 
  <div class="date">
<button class="active">Today, 14 May</button>
<button>Tomorrow, 15 May</button>
</div>
 
  <h3>{{ selectedDate }}</h3>
  <div class="confirmation-msg" *ngIf="confirmationMessage">
    {{ confirmationMessage }}
    </div>
 
  <div class="slots">
<button

      *ngFor="let slot of slots"

      [ngClass]="{
        'availble':slot.status==='available'&& slot!==selectedSlot,
        'booked':slot.status==='booked',
        'selected':slot===selectedSlot
        }"
      [disabled]="slot.status === 'booked'"
      (click)="selectSlot(slot)"
>

      {{ slot.time }}
</button>
</div>
 
  <div class="legend">
<span class="available-box"></span> Available
<span class="selected-box"></span> Selected
 <span class="booked-box"></span> Booked

</div>
 
  <button class="book-btn"
  [disabled]="!selectedSlot"
  [ngClass]="{'book-btn-active':selectedSlot}"
  (click)="bookAppintment()">
  Book Appointment</button>
 
</div>
 
