.slot-container {

  margin-top: 0px;

  padding: 20px;

  background: #fff;

  border-radius: 10px;

  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  font-family: Arial;
   top: 20px;

}
 
.date button {

  margin-right: 10px;

  padding: 8px 12px;

  border: none;

  border-radius: 5px;

  cursor: pointer;

}
 
.date .active {

  background: #007bff;

  color: white;

}
 
.slots {

  display: flex;

  flex-wrap: wrap;

  gap: 10px;

  margin-top: 15px;

}
 
.slots button {

  padding: 8px 12px;

  border-radius: 6px;

  border: none;
  font-size: 13px;
  width: calc(33% - 6px);
  cursor: pointer;

}
 
.available {

  background: #89df57;

  color: rgb(232, 246, 232);

}
.selected{
   background: #003580;
   color: white;
}
 
.booked {

 background: #bc2e24ce;
  color: white;
  cursor:not-allowed;


}
.confirmation-msg {
  margin-top: 12px;
  padding: 10px 14px;
  background: #eaf4ff;
  border-left: 4px solid #007bff;
  border-radius: 6px;
  color: #004080;
  font-size: 14px;
}
 
.legend {

  margin-top: 15px;

}
 
.available-box, .booked-box ,.selected-box{

  display: inline-block;

  width: 12px;

  height: 12px;

  margin-right: 5px;

}
 
.available-box {

  background: green;

}
.selected-box  { background: #003580; }
 
.booked-box {

  background: rgba(254, 37, 37, 0.475);

}
 
.book-btn {

 margin-top: 20px;
 width:100px;
  padding: 10px 15px;
  background: #cccccc;
  color: #666;
  border: none;
  border-radius: 6px;
  cursor: not-allowed;

}
.book-btn-active {
  background: #007bff !important;
  color: white !important;
  cursor: pointer !important;
}
 